@import "tailwindcss";
@source "../../resources/views";
@source "../../app/View";

@theme {
    --font-sans: "Be Vietnam Pro", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

@keyframes blink {
    0%,
    50%,
    100% {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}

.animate-blink {
    animation: blink 1.1s infinite;
}
